/** @format */

h1 {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Fredericka the Great", cursive;
  font-size: 60px;
  padding: 40px 20px 20px 20px;
}
h2 {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto", sans-serif;
  font-size: 40px;
}
h4 {
  color: #000;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 500;
}
.container {
  padding: 20px 60px 0px 10px;
}
.row {
  padding: 20px;
}
.landing-description,
.weather-app-description {
  color: #000;
  font-family: "Roboto", sans-serif;
  text-align: justify;
}

.update {
  padding: 20px;
  color: #000;
  font-family: "Roboto", sans-serif;

  text-shadow: 2px;
  font-size: 18px;
}
.thank-you {
  padding: 20px;
  color: #000;
  font-family: "Roboto", sans-serif;

  text-shadow: 2px;
  font-size: 20px;
  text-align: center;
}

.construction-icon {
  text-align: center;
}

.github-icon {
  width: 25px;
  height: 25px;
}
.instagram-icon {
  width: 35px;
  height: 35px;
  opacity: 0.8;
}
.twitter-icon {
  width: 25px;
  height: 25px;
}
.linkedin-icon {
  width: 30px;
  height: 30px;
  opacity: 0.8;
}

.about,
.about-me {
  padding: 20px 20px 0px 10px;
  color: #000;
  font-family: "Roboto", sans-serif;
  text-align: justify;
}
body {
  background: linear-gradient(
    111.5deg,
    rgb(228, 247, 255) 21.9%,
    rgb(255, 216, 194) 92.2%
  );
}
section {
  padding-top: 60px;
}
.bg-custom {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%) !important;
}
