/** @format */

:root {
  --main-font-color: #fff;
  --branding-color: rgb(13, 52, 110);
  --secondary-color: rgba(0, 0, 0, 0.6);

  --primary-font: "Comfortaa", cursive;
  --secondary-font: "Roboto", sans-serif;
  --tertiary-font: "Fredericka the Great", cursive;
  --branding-font: "Homemade Apple", cursive;
  --quaternary-font: "Rubik", sans-serif;
}

h1 {
  text-align: center;
  color: var(--main-font-color);
  font-family: var(--secondary-font);
  font-size: 50px;
  padding: 40px 20px 0px 20px;
}

h2 {
  text-align: center;
  color: var(--main-font-color);
  font-family: var(--secondary-font);
  font-size: 40px;
}

h4 {
  color: var(--main-font-color);
  font-family: var(--secondary-font);
  text-align: center;
  font-weight: 800;
}
.container {
  padding: 0;
}
.row {
  padding: 20px;
}
.title-h1 {
  padding-top: 150px;
}

.my-name {
  font-family: var(--primary-font);
  font-size: 65px;
  padding: 20px 10px 0 10px;
  animation-duration: 2s;
  animation-name: slidein;
}
.hero-descript {
  padding: 0 10px 20px;
  color: var(--main-font-color);
  font-family: var(--quaternary-font);
  font-size: 25px;

  font-weight: 900;
}

.app-description {
  color: var(--main-font-color);
  font-family: "Roboto", sans-serif;
  text-align: justify;
  font-weight: 400;
}
.picture-credit-div {
  color: var(--main-font-color);
}
.picture-credit-div a {
  text-decoration: none;
  color: var(--main-font-color);
}
.top-div {
  font-family: var(--secondary-font);
  font-size: 10px;
  padding: 20px;
}
.top-div-button {
  padding: 5px;
  border: 1px solid var(--branding-color);
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.top-div-button a {
  text-decoration: none;
  color: var(--branding-color);
  font-weight: bold;
}

.top-div-button a:hover {
  font-style: oblique;
}

.github-icon,
.instagram-icon,
.twitter-icon,
.linkedin-icon {
  color: #fff;
}

.about,
.about-me {
  padding: 10px 20px 0px 10px;
  color: var(--main-font-color);
  font-family: "Roboto", sans-serif;
  text-align: justify;
}

.section-about {
  padding: 150px 100px;
}

.profile-pic {
  padding: 5px;
  max-width: 100px;
  max-height: 120px;
  display: block;
  margin: 10px auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-h2 {
  padding: 10px;
}
.contact-h2,
.misc-h2 {
  padding-top: 150px;
}

.thank-you,
.contact-div,
.email {
  padding: 20px;
  color: var(--main-font-color);
  font-family: "Roboto", sans-serif;

  text-shadow: 2px;
  font-size: 18px;
  text-align: center;
}
.email a {
  color: var(--main-font-color);
}
.email a:hover {
  color: #d8e7fa;
  font-style: oblique;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  75% {
    font-size: 600%;
    margin-left: 25%;
    width: 150%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.app-screenshot {
  max-height: 190px;
  display: block;
  margin: 0 auto;
  padding: 20px;
}
.app-screenshot:hover {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: box-shadow 0.3s ease-in;
  border-radius: 2%;
  padding: 10px;
}
.border-project-left {
  border: 2px solid var(--main-font-color);
  border-radius: 6px;
  box-shadow: 0px 10px 9px 2px rgba(0, 0, 0, 0.4);
  padding: 18px;
}

.border-project-right {
  border: 2px solid var(--main-font-color);
  border-radius: 6px;
  box-shadow: 6px 10px 9px 2px rgba(0, 0, 0, 0.4);
  padding: 18px;
}

.container-fluid {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #fff;
}
body,
.background {
  background: linear-gradient(132deg, #691431, #081d46, #85189b);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  position: relative;
  width: 100%;
  overflow: visible;
  padding: 0;
  margin: 0px;
}
.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #fff;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) {
  border-color: #fff;
}
.cube:nth-child(2) {
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}
.cube:nth-child(3) {
  animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}
.cube:nth-child(4) {
  animation-delay: 6s;
  left: 75vw;
  top: 10vh;
}
.cube:nth-child(5) {
  animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}
.cube:nth-child(6) {
  animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}
nav {
  color: var(--main-font-color);
  float: right;
  margin: 30px 90px;
  font-family: var(--secondary-font);
}
nav ul {
  list-style: none;
}
nav ul li {
  float: left;
  transition: 0.3s;
}
nav ul li a {
  text-decoration: none;
  color: var(--main-font-color);
  transition: 0.5;
  font-size: 15px;
  margin-left: 16px;
}
nav ul li:hover a {
  text-decoration: none;
  color: var(--branding-color);
}
nav ul li:hover {
  height: 65px;
  padding-top: 20px;
  margin-top: -20px;
  background: #f5f5f8;
  text-decoration: none;
}
.active {
  font-weight: 600;
}

.logo {
  width: 50px;
  height: 50px;
  background: #fff;
  margin: 30px 23px;
  float: left;
  transform: rotate(-35deg);
  border-radius: 20%;
  font-family: var(--quaternary-font);
}
.logo span {
  color: var(--branding-color);
  font-size: 2em;
  line-height: 1.4;
  padding-left: 5px;
  font-weight: bold;
}

@media (max-width: 415px) {
  .title-h1 {
    font-size: 35px;
  }
  .my-name {
    font-size: 45px;
    animation-name: none;
  }
  .hero-descript {
    font-size: 15px;
  }
  .coding-projects {
    font-size: 40px;
  }
  .section-about {
    padding: 60px;
  }
  .col-sm-6 {
    padding: 10px;
  }
  .app-screenshot {
    max-width: 250px;
  }
  .app-description {
    max-width: 300px;
    font-size: 12px;
  }
  .logo {
    width: 25px;
    height: 25px;
  }
  .logo span {
    font-size: 1em;
  }
  nav {
    text-align: justify;
    margin: 10px;
  }
}
